body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: black;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: Oswald;
}

nav {
    background-color: #1B262C50;
    color: white;

}

ul {
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

li {
    padding: 10px;
    margin: 10px;
}

p {
    font-size: 20px;
}

main {
    margin: auto;
    padding: 50px;
}

section {
    min-height: 25vh;
}

.second {
    background-color: #1B262C50;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    margin: 0;
}